* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /* font-family: Impact, Arial, Helvetica, sans-serif; */
    color: white;
    line-height: 1.6;
    text-align: center;
    background-color: #333;
}

.page {
    position: absolute;
}

.fa-cog {
    font-size: 4em;
    color: #333;
    animation: rotate 6s linear infinite;
}

@keyframes rotate{
    to{transform: rotate(360deg);}
}

.dashboard {
    padding: 0;
    margin: auto;
    max-width: 1200px;
    /* left: 5%; */
    position: relative;
    -webkit-box-shadow: 0px -25px 30px 12px rgba(255,255,255,1);
    -moz-box-shadow: 0px -25px 30px 12px rgba(255,255,255,1);
    box-shadow: 0px -25px 30px 12px rgba(255,255,255,1);
}

.dashboard-body {
    padding: 0;
    margin: 0;
    position: absolute;
    -webkit-box-shadow: 0px 0px 30px 12px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 30px 12px rgba(255,255,255,1);
    box-shadow: 0px 0px 30px 12px rgba(255,255,255,1);
    /* -webkit-box-shadow: 0px 0px 30px 12px rgba(198,251,253,1);
    -moz-box-shadow: 0px 0px 30px 12px rgba(198,251,253,1);
    box-shadow: 0px 0px 30px 12px rgba(198,251,253,1); */
}

.padding {
    padding-bottom: 2rem;
}


/* Navbar */
.navbar {
    z-index: 1000;
}


/* Image Slider */
.image-slider {
    background-color: #12475f;
}

.image-slider img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 78%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 550%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}


/* Jumbotron */
.jumbotron {
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 0;
    background-color: #333;
}

.jumbotron .btn {
    color: white;
    padding: 1rem 2rem;
    border: white 1px solid;
}

.jumbotron .btn:hover {
    background-color: white;
    color: #333;
}

.sources {
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

.source-box {
    background-color: white;
    color: black;
    margin: 0;
    padding-bottom: 1rem;
}


.fa-react, .fa-aws, .fa-python {
    font-size: 4em;
    margin: 1rem;
}


/* Welcome */
.welcome-container {
    background-color: #12475f;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome-header {
    font-size: 350%;
}

.welcome hr {
    border-top: 2px solid white;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.welcome-content {
    padding-bottom: 2em;
}


/* About Me */
.about-me {
    background-color: #12475f;
    /* padding: 2rem; */
}

.about-greeting {
    font-size: 250%;
}

.greeting-bottom {
    margin-bottom: 4rem;
}

.about-section {
    text-align: left;
    padding: 2rem;
}

.about-text {
    padding: 4rem;
}

.collage-container {
    padding: 0;
}

.about-text-realestate {
    position: absolute;
    text-shadow: 2px 1px 2px #000;
    margin-top: 6rem;
    padding: 2rem;
    z-index: 500;
}

.cc-container {
    padding: 3rem;
}

.complete-picture {
    border: 30px solid #f8f9fa;
}


/*--- Fixed Background Image --*/
.figure {
    position: relative;
    width: 100%;
    height: 480px;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('./images/tintedchicagoshoreline.jpg');
    position: fixed;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}


/* Project Banner */
.project-banner {
    background-color: #12475f;
}

.project-banner h1 {
    font-size: 200%;
    text-shadow: 1px 1px 15px #000;
    text-transform: uppercase;
}


/* Project Showcase */
.showcase {
    padding: 1em;
    background-color: #12475f;
    color: white;
}

.card {
    margin: .5em;
    background-color: #333;
}

.card-button {
    color: white;
    background-color: #333;
    border: 1px solid white;
}

.card-button:hover {
    color: black;
    background-color: white;
}


/* Relay For Justice */
.relay-for-justice {
    background-color: #12475f;
}

.rfj-link {
    color: #91d9cf;
}

.rfj-link:hover {
    color: #0f1f61;
    text-decoration: none;
}

.back-btn-div {
    margin: .5rem 0 1rem 0;
}

.back-btn {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.back-btn:hover {
    text-decoration: none;
    color: white;
}

.relay-banner {
    width: 95%;
    margin: auto;
}

.relay-banner-col {
    padding: 0;
}

.relay-banner img {
    border: 5px solid #333;
}

.large-phone-container {
    padding: 1.5rem 4rem 1.5rem 4rem;
}

.relay-intro-text {
    padding: 0rem 3rem;
}

.relay-text {
    padding-left: 2rem;
}

.rfj-desktop-container {
    padding: 1rem 2rem 1rem 2rem;
}

.rfj-desktop {
    border: 5px solid #333;
}

.phone-row {
    background-color: white;
    border: 5px solid #12475f;
    padding: 3rem;
    margin-top: 1rem;
}

.phone-container {
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.relay-testimonial-text {
    padding: 0rem 5rem;
}

.relay-testimonial-container {
    padding: 2rem 4rem 2rem 4rem;
}

.relay-testimonial-container img {
    border: 5px solid #333;
}


/* Message Dialog */
.dialog-background {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1500;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.dialog-box {
    max-width: 600px;
    margin: auto;
    background-color: white;
    color: black;
    padding: 2rem;
}

.dialog-button-cancel {
    margin: .3rem;
    color: black;
    background-color: white;
    border: 1px solid #222122;
}

.dialog-button-cancel:hover {
    color: white;
    background-color: #222122;
    border: 1px solid #222122;
}

.dialog-button-submit {
    margin: .3rem;
    background-color: #333;
    border: 1px solid #333;
}

.dialog-button-submit:hover {
    background-color: #222122;
    border: 1px solid #222122;
}



/* Footer */
.footer {
    background-color: #f8f9fa;
    color: #333;
}

.footer a {
    font-size: 3em;
}

.footer-icon {
    font-size: 3em;
    padding: 0;
}

.footer-icon:focus {
    outline: none;
    box-shadow: none;
}

.fa-github {
    color: black;
}

.fa-envelope-square {
    color: #d35b4f;
}

.fa-envelope-square:hover {
    color: #b14c42;
    cursor: pointer;
}

.fa-github:hover {
    color: #46484e;
}


/* Landing Page */
/* .landing-page {
    background-color: #12475f;
    height: 100%;
    width: 100%;
}

.landing-header-container {
    height: 300px;
}

.landing-header {
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {top: -50px;}
    100% {top: 200px;}
}

.landing-content {
    position: relative;
    animation-name: content;
    max-width: 960px;
    margin: auto;
    padding: 0px 30px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {left: -1000px;}
    100%{left: 0px};
}

.landing-btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border: white 1px solid;
    margin-top: 40px;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    transition-property: transform;
    transition-duration: 1s;
}

.landing-btn:hover {
    background-color: white;
}

@keyframes btn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */


/* CSS Transitions */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 600ms linear 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}


/*---Media Queries --*/
@media (max-width: 992px) {
    .carousel-caption {
        top: 76%
    }

    .carousel-caption h1 {
        font-size: 500%;
    }

    .welcome-header {
        font-size: 350%;
    }

    .about-text-realestate {
        margin-top: 1.8rem;
    }

    .footer-icon {
        font-size: 2.6em;
    }

    .footer a {
        font-size: 2.6em;
    }
  }
@media (max-width: 768px) {
    .fa-cog {
        font-size: 3.5em;
    }
    .carousel-caption {
        top: 72%
    }
    
    .carousel-caption h1 {
        font-size: 350%;
    }

    .btn {
        font-size: 95%;
    }
    
    .welcome-header {
        font-size: 300%;
    }

    .figure {
        height: 500px;
    }

    .about-text-realestate {
        margin-top: 2rem;
    }

    .footer-icon {
        font-size: 2.4em;
    }

    .footer a {
        font-size: 2.4em;
    }
}
@media (max-width: 672px) {
    .carousel-caption {
        top: 72%
    }

    .carousel-caption h1 {
        font-size: 300%;
    }
}
@media (max-width: 576px) {
    .fa-cog {
        font-size: 3em;
    }
    .carousel-caption {
        top: 70%;
    }

    .carousel-caption h1 {
        font-size: 225%;
    }

    .btn {
        font-size: 90%;
    }
    
    .carousel-caption h3 {
        font-size: 110%;
    }

    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }

    .jumbotron .btn {
        padding: .6rem 3rem;
    }

    .tech-header {
        font-size: 125%;
    }

    .welcome-header {
        font-size: 225%;
    }

    .greeting-bottom {
        margin-bottom: 2rem;
    }

    .figure {
        height: 600px;
    }

    .about-text-realestate {
        padding: 1rem;
        margin-top: .5rem;
    }

    .cc-container {
        padding: 0rem;
    }

    .auto-row {
        padding-top: 1rem;
    }

    .about-text {
        padding: 0rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .back-btn-div {
        margin: .5rem .5rem .5rem 0rem;
    }

    .relay-banner {
        width: 100%;
    }

    .large-phone-container {
        padding: 1rem;
    }

    .relay-intro-text {
        padding: .5rem;
    }

    .relay-text {
        padding: .5rem;
    }

    .relay-text h2 {
        text-align: center;
    }

    .relay-text p {
        text-align: center;
    }

    .rfj-desktop-container {
        padding: 0;
        margin-bottom: 1rem;
    }

    .rfj-desktop {
        border: 5px solid #333;
    }

    .phone-row {
        padding: 0rem;
        margin-top: 0rem;
    }
    
    .phone-container {
        padding: 1rem;
    }

    .relay-testimonial-text {
        padding: .5rem;
        margin-top: 1rem;
    }

    .relay-testimonial-text h2 {
        text-align: center;
    }

    .relay-testimonial-text p {
        text-align: center;
    }
    
    .relay-testimonial-container {
        padding: .5rem;
    }
    
    .lead {
        font-size: 100%;
    }

    .footer-icon {
        font-size: 2.2em;
    }

    .footer a {
        font-size: 2.2em;
    }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}